body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 148, 148, 0.466);
}

.container__title {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  width: 100%;
  text-align: center;
  font-family: cursive;
  font-size: 3.3rem;
  margin: 0;
  padding: 0;
  font-weight: 900;
  color: rgba(116, 32, 32, 0.808);
}

.container__credits {
  position: absolute;
  top: 52%;
  width: 100%;
  text-align: center;
  font-family: cursive;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  font-weight: 800;
  color: rgba(116, 32, 32, 0.808);
}

.container__credits .container__ancle {
  text-decoration: none;
  color: rgba(56, 15, 15, 0.808);
}

.container__set {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container__set .container__hearts {
  position: absolute;
  display: block;
  width: 100px;
  height: 100px;
}

.container__set .container__hearts:nth-child(1) {
  left: 10%;
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.container__set .container__hearts:nth-child(2) {
  left: 22%;
  -webkit-animation: animate 9s linear infinite;
          animation: animate 9s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.container__set .container__hearts:nth-child(3) {
  left: 30%;
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}

.container__set .container__hearts:nth-child(4) {
  left: 40%;
  -webkit-animation: animate 9s linear infinite;
          animation: animate 9s linear infinite;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

.container__set .container__hearts:nth-child(5) {
  left: 54%;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.container__set .container__hearts:nth-child(6) {
  left: 63%;
  -webkit-animation: animate 11s linear infinite;
          animation: animate 11s linear infinite;
}

.container__set .container__hearts:nth-child(7) {
  left: 75%;
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
}

.container__set .container__hearts:nth-child(8) {
  left: 82%;
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

.container__set .container__hearts:nth-child(9) {
  left: 5%;
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
}

.container__set .container__hearts:nth-child(10) {
  left: 93%;
  -webkit-animation: animate 8s linear infinite;
          animation: animate 8s linear infinite;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
}

@-webkit-keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    -webkit-transform: translateX(-20px) rotate(0deg);
            transform: translateX(-20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(-10px) rotate(30deg);
            transform: translateX(-10px) rotate(30deg);
  }
  35% {
    -webkit-transform: translateX(-15px) rotate(0deg);
            transform: translateX(-15px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(-20px) rotate(-30deg);
            transform: translateX(-20px) rotate(-30deg);
  }
  60% {
    -webkit-transform: translateX(-25px) rotate(0deg);
            transform: translateX(-25px) rotate(0deg);
  }
  75% {
    -webkit-transform: translateX(-10px) rotate(30deg);
            transform: translateX(-10px) rotate(30deg);
  }
  90% {
    -webkit-transform: translateX(-10px) rotate(0deg);
            transform: translateX(-10px) rotate(0deg);
  }
  100% {
    top: 110%;
    -webkit-transform: translateX(-10px) rotate(200deg);
            transform: translateX(-10px) rotate(200deg);
  }
}

@keyframes animate {
  0% {
    opacity: 0;
    top: -10%;
    -webkit-transform: translateX(-20px) rotate(0deg);
            transform: translateX(-20px) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(-10px) rotate(30deg);
            transform: translateX(-10px) rotate(30deg);
  }
  35% {
    -webkit-transform: translateX(-15px) rotate(0deg);
            transform: translateX(-15px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateX(-20px) rotate(-30deg);
            transform: translateX(-20px) rotate(-30deg);
  }
  60% {
    -webkit-transform: translateX(-25px) rotate(0deg);
            transform: translateX(-25px) rotate(0deg);
  }
  75% {
    -webkit-transform: translateX(-10px) rotate(30deg);
            transform: translateX(-10px) rotate(30deg);
  }
  90% {
    -webkit-transform: translateX(-10px) rotate(0deg);
            transform: translateX(-10px) rotate(0deg);
  }
  100% {
    top: 110%;
    -webkit-transform: translateX(-10px) rotate(200deg);
            transform: translateX(-10px) rotate(200deg);
  }
}

.container__set--background {
  -webkit-transform: scale(0.7) rotateX(180deg);
          transform: scale(0.7) rotateX(180deg);
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.container__set--front {
  -webkit-transform: scale(1.3) rotateY(180deg);
          transform: scale(1.3) rotateY(180deg);
  -webkit-filter: blur(2px);
          filter: blur(2px);
}
/*# sourceMappingURL=style.css.map */